<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
   <services>
      <service name="WorldServiceImpl" 
        behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/"/>
          </baseAddresses>
        </host>
        <endpoint 
          address="" 
          binding="webHttpBinding" 
          contract="voxelworld.IWorldService" 
          behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="TestWorldServiceImpl" 
        behaviorConfiguration="PlainServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/"/>
          </baseAddresses>
        </host>
        <endpoint 
          address="" 
          binding="webHttpBinding" 
          contract="voxelworld.IWorldService" 
          behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior> 
        <behavior name="PlainServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior> 
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
